<!DOCTYPE html>
<html>
  <head>
    <title>Bananastand</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <div class="circle">
          <br/>
          I've made
          <br/>
          a huge
          <br/>
          mistake.
        </div>
      </div>

      <div class="col-4 slogan">
        Now the story of a wealthy family who lost everything... 
      </div>

      <div class="col-5 links">
        <%= link_to 'Add a quote', '#' %>
        <%= link_to 'About', '#' %> 
      </div>

    </header>

    <hr />

    <br class="clear" />



    <%= yield %>
  </body>
</html>
